{% load otree %}

<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        Instructions
    </h3>
    <p>
        Thank you for agreeing to take part in an online auction.
        Each participant’s identity will be kept confidential and not revealed to any of the other participants.
        Please read the following instructions for this auction carefully.
    </p>

    <p>
        This auction involves selling a single "fun size" M&M packet (1.69 oz) to the highest bidder.
        All bids will be submitted privately and therefore no participant can gain by delaying to submit his/her bid.
        Only the winner of this auction will be required to pay the amount s/he bid. In the case of a tie,
        one of the highest bidders will be randomly chosen as the winner. Prior to participating in the auction,
        think about the maximum price at which you would be willing to buy an M&M packet.
        You will be required to pay in U.S. currency, so please do not bid values above $0 if you are not prepared
        to pay.
    </p>

    <p>
        Please notice that in this auction (called a first price sealed bid auction), it is in your best interest to
        place a bid which is equal to the maximum price you are willing to pay for a packet of M&Ms.
        You can do no better, and will sometimes do worse, by lying about your maximum price.
        If you place a bid which is lower than the maximum price you are willing to pay, you may miss out on
        buying a packet of M&Ms at a price you would be willing to pay for the packet.
        If you place a bid which is higher than the maximum price you are willing to pay,
        you may end up having to pay a price for the packet of M&Ms that is above what you normally
        would be willing to pay.
    </p>

    <p>
        By clicking on the “Next” button below, you will be taken to a page where you will be required to enter
        your bid. You can enter amounts in U.S. currency units to the nearest cent. For example, 100.02 means
        that you bid 100 dollars and 2 cents. Once all participants in this auction have placed their bids,
        the winner of this auction will be determined and all participants will be informed about the outcome of
        this auction. Additionally, using a simple graph, we will demonstrate how the bids submitted by all of the
        participants can be interpreted as points along the demand curve for the auctioned object. Note that each
        participant’s bid represents his/her reservation price, that is, the maximum price s/he is willing to pay (WTP)
        to obtain the object being sold. This concept is also referred to by using the term marginal benefit (MB).
        By sorting these prices from highest to lowest and with prices measured along the vertical axis and the
        quantity (i.e. the volume of bids) accounted for along the horizontal axis, plotting the data yields the
        demand curve.
    </p>
</div>
</div>
