{% load otree %}

<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        Instructions
    </h3>
    <p>
        Thank you for agreeing to take part in an online auction.
        Each participant’s identity will be kept confidential and not revealed to any of the other participants.
        Please read the following instructions for this auction carefully.
    </p>

    <p>
        This auction involves buying a single "fun size" M&M packet (1.69 oz) from the participant stating the lowest
        ask price. All participants will state their ask prices privately and therefore no participant can gain by
        delaying to submit his/her ask price. Only the winner of this auction will be paid the amount s/he stated.
        In the case of a tie, one of the participants stating the lowest ask price will be randomly chosen as the
        winner. Prior to participating in the auction, think about the minimum price at which you would be willing to
        sell an M&M packet. You will be paid in U.S. currency.
    </p>

    <p>
        Please notice that in this auction (called a reverse first price sealed bid auction),
        it is in your best interest to state an ask price which is equal to the minimum price you are willing to accept
        for a packet of M&Ms. You can do no better, and will sometimes do worse, by lying about your minimum price.
        If you state an ask price which is higher than the minimum price at which you are willing to sell, you may
        miss out on selling a packet of M&Ms at a price you would be willing to accept for the packet.
        If your ask price is lower than the minimum price you are willing to accept,
        you may end up having to give up the packet of M&Ms for a price lower than what you normally
        would be willing to accept.
    </p>

    <p>
        By clicking on the “Next” button below, you will be taken to a page where you will be required to enter
        your ask price. You can enter amounts in U.S. currency units to the nearest cent. For example, 100.02 means
        that your ask price is 100 dollars and 2 cents. Once all participants in this auction have stated their
        ask price, the winner of this auction will be determined and all participants will be informed about the
        outcome of this auction. Additionally, using a simple graph, we will demonstrate how the ask prices stated by
        all of the participants can be interpreted as points along the supply curve for the auctioned object.
        Note that each participant’s ask price represents his/her reservation price, that is, the minimum price s/he
        is willing to accept (WTA) to part with the object. This concept is also referred to by using the term
        marginal cost (MC). By sorting these prices from lowest to highest and with prices measured along the vertical
        axis and the quantity (i.e. the volume of ask prices) accounted for along the horizontal axis, plotting
        the data yields the supply curve.
    </p>
</div>
</div>
